.App{
  background-color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* .Navebar{
  background-color: #adb8c0;
} */
.navbar1{
  background-color: black;
}
.cardtile{
  color: rgb(255, 255, 255);
   font-family:sans-serif;
    font-size: 25px; font-weight: normal;
     border-bottom: 1px solid rgb(255, 255, 255); 
    padding-bottom: 6px;
     margin-bottom: 9px;
     margin-left: 0px;
     text-align: center;
    
}
.card1{
  border: white;
  height: 95%;
  
}
.card-primary:link{
  color: aliceblue;
}
.card-primary:hover {
  box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
  z-index: 100;
}
.card-text{
  color:rgb(95, 93, 93);
  font-size: 10px;
}
.card-primary:hover .card-title{
  color: black;
  box-shadow: black;
}

.card-tabs{
  font-size: 50px;
  color: #635b5b;
}
.card-desc{
  color: rgb(70, 66, 66);
  font-size: 15px;
}

.card-bg{
  background-image: linear-gradient(#6190E8, #A7BFE8)
}

/*Categories jumbotron css*/
.jumbotron1 {
  padding:70px 30px 600px 30px;
  margin-bottom: 60px;
  background-image: url('/assets/catagory/catagory1.jpg');
  background-attachment:fixed;
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    color: black;
    
    
}
.text-margin{
  margin-top: 150px;
}
/* .jumbotron2{
  text-align: center;
  color: aliceblue;
  background-color:rgb(148, 145, 145);
  margin-bottom: 0;

} */

/*Sizes jumbotron css*/
.sizejumbotron1 {
  padding:70px 30px 600px 30px;
  margin-bottom: 60px;
  background-image: url('/assets/sizes/catagory2.jpg');
  background-attachment:fixed;
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.sizejumbotron2{
  text-align: center;
  color: aliceblue;
  background-image: url('/assets/silver.jpg');
  /* background-color: #1f1d1d; */
  /* background-color:rgb(148, 145, 145); */
  margin-bottom: 0;
}


.btngroup{
  background-color:rgb(78, 76, 76); ;
  margin-top: 0;
  padding-top: 0;
}

.btn1{
  color:aliceblue;
}

/* .product-cat h2{
color: black;
} */
.product-type{
/* color: gray; */
margin-bottom: 50px;
}
.icon{
  color:gray
}
/* <a href="https://www.lavishceramics.com/product/wall-tiles/glossy-tiles/why-glossy-tiles" style="color: rgb(255, 255, 255); font-family: &quot;Bodoni MT&quot;,sans-serif; font-size: 18px; font-weight: normal; border-bottom: 1px solid rgb(255, 255, 255); padding-bottom: 6px; margin-bottom: 9px;">Glossy Tiles</a> */

/* gallery */
.gallery{
  padding: 40px;
}

/*Trend buttons(ALL, RECENT, POPULAR)*/

.trends{
  color: whitesmoke;
}

.trends:hover,
.trends:focus{
  box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
  z-index: 100;
  color: black;
  background-color: whitesmoke;
  transform: scale(1.009);
  transition-duration: 0.4s;
}


/*PRODUCT IMAGE in the categories*/
.product-name{
    color: whitesmoke;
}

.loader-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/backgroundforloading.jpg'); 
  background-attachment:fixed;
  padding:70px 30px 600px 30px; 
  margin-bottom: 60px;
  background-color: #5f4f4fad;
   background-color: rgb(180, 154, 154);
}
.loader{
  opacity: 0.5;
  left: 40%;
  top: 30%;
  z-index: 1000;
  position: absolute;
}


/* mihir */

.jumbotron
{
  background-color: #ffffff;
}

.nav-link:active
{
  color: #ffffff;
  /* background-color: #0089BA; */
}

.justifiedText
{
  text-align: justify;
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5)), url("/assets/sample.jpg");
}

.bg-cover-about
{
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,1)), url("/assets/images/shop-about.jpg");
  max-width: 100%;
  height: auto;
}

.bg-cover-about-2
{
  background-position: bottom;
  background-size: cover;
  background-image: linear-gradient(to left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,1)), url("/assets/images/shop-about-message.jpg");
  max-width: 100%;
  height: auto;
}

.bg-cover-about-3
{
  background-position: right;
  background-size: cover;
  background-image: linear-gradient(to left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,1)), url("/assets/images/shop-about-developers.jpg");
  max-width: 100%;
  height: auto;
}

.feature-card, .info-card
{
  transform: scale(1);
  transition: transform 0.5s ease;
}

.info-card:hover
{
  transform: scale(1.05);
}

.feature-card:hover
{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.25);
  transform: scale(1.5);
}

.feature-title
{
  color: #ffffff;
  font-size: medium;
  transition: linear ease-out 0.5s;
}

.feature-title:hover
{
  color: #ffffff;
  text-decoration: none;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.price-tag
{
  background-color: #0089BA;
  color: #ffffff,
}

.price-details
{
  background-color: #ffffff;
  color: #0089BA
}

.overflow
{
  overflow: hidden;
}

.fa-star, .fa-star-o
{
  color: lightgreen;
}

.bingmap
{
  height: 500px;
} 

.developer-contact
{
  background-attachment: static;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5)), url("/assets/images/contact-developer.jpg");
  /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5)), url("/assets/sample.jpg"); */

  color: #ffffff;
} 

 .map
{
  width: 5000px;
}
.map-image:hover
{
  transform: scale(1.25);
}

/*Mihir*/

.anchor
{
  color: #ffffff;
}

.anchor:hover
{
  color: #ffffff;
}

.text-logo
{
 /*  background-attachment: fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%; */
  max-width: 100%;
  height: auto;
}

.anchor-about:hover 
{
  color: #ffffff;
  text-decoration: none;
}

.about-developer-img
{
  border-radius: 100%;
  height: auto;
  width: 25%;
}

.profile-text
{
  font-size: 0.7rem;
  padding: 2px;
  font-family: 'Lexend Peta', sans-serif;
}



/* safal */
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

/* .footer{ */
  /*background-color: #D1C4E9;*/
  /* background-color: #EEE2DC;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
} */
/* .jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
} */

address{
  font-size:80%;
  margin:0px;
  /* color:#0f0f0f; */
  color: whitesmoke;
}

/* .navbar-dark {
  background-color:#123C69;
} */

/*CSS for navigation*/
.navbar {
  transition: all 0.4s;
}

.navbar1 .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #887474;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
 
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
 
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.navbar-toggler{
  color: whitesmoke;
}

/*---FOOTER----*/
.footer {
  background-color: #123C69;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  bottom: 0;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.jumbotron3 {
  
  padding:50px 50px 300px 50px;
  margin-bottom: 60px;
  
  background-image: url('/assets/map.jpg');
  /* background-attachment:fixed; */
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

}
.jumbotron4{
  background-attachment: fixed;
}

/*CAROUSEL BOOTSTRAP*/
/* .carousel {
  background:#512DA8;
}

.carousel-item {
  height: 700px;
  
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  min-width: 100%;
  height: 100%;
 /*  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  background-size: cover;
	background-position: center;
	height: 100vh; 
} */

